<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>

<div class="pt-3">
    <p>This is the project for Foundation of Big Data (070153605).</p>
    <p>This project is a Customer Management CRUD web app, which connected to MongoDB database.</p>
    <p>Presented by: <br> Vorameth Patummasut 6507012662071 <br> Punnatorn Boonin 6507012660206 <br> Narongrit Adisakpaisarn 6507012660176 <br> Yuthana Thedthong 6507012660117 <br> Siwakorn Supareak 6507012662080</p>
    <p>Presented to <br> Aj. Maleerat Maliyaem</p>
    <p>Credit to this <a href="https://youtube.com/raddydev"> YouTube Channel</a> for source code.</p>
</div>